/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    overflow: hidden;
}

/* Todo List Styles */
.todo-container {
    width: 100%;
    overflow: hidden;
}

.todo-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.todo-input-container {
    width: 100%;
}

.todo-input {
    width: 60%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
}

.add-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*.add-button:hover {
    background-color: #45a049;
}*/

.todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 90vh;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #1f1f1f;
}

.todo-text {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    margin-right: 10px;
    font-size: 1em;
    color: #ffffff;
}

.remove-button {
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*.remove-button:hover {
    background-color: #d32f2f;
}*/
